{% extends 'index.html' %}
{% load static %}

{% block css %}

{% endblock %}


{% block content %}

    <!-- .page -->
    <div class="page">

        <!-- .page-navs -->
        <header class="page-navs shadow-sm pr-3">
            <!-- btn-account -->
            <a href="{% url 'survey_overview' survey.slug %}" class="btn-account">
                <div class="user-avatar mr-2">
                    <img src="{% static 'assets/images/avatars/team4.jpg' %}" alt="">
                </div>
                <div class="account-summary">
                    <h1 class="card-title"> Compliance survey </h1>
                    <h6 class="card-subtitle text-muted"> Created on {{ survey.created_at|date }} · Last
                        update {{ survey.updated_at|timesince }} </h6>
                </div>
            </a> <!-- /btn-account -->
        </header><!-- /.page-navs -->

        <!-- .page-inner -->
        <div class="page-inner">
            <!-- .page-title-bar -->
            <header class="page-title-bar">

                <!-- title and toolbar -->
                <div class="d-md-flex align-items-md-start">
                    <h1 class="page-title mr-sm-auto"> {{ survey.name }} </h1><!-- .btn-toolbar -->
                    <div class="btn-toolbar">
                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#newProject">
                            <i class="oi oi-pencil"></i>
                            <span class="ml-1">Edit survey</span>
                        </button>

                        <!-- Modal Drawer Right -->
                        <div class="modal modal-drawer fade" id="newProject" tabindex="-1" role="dialog"
                             aria-labelledby="newProjectLabel" aria-hidden="true">
                            <!-- .modal-dialog -->
                            <form action="{% url 'survey_overview' survey.slug %}" method="post"
                                  class="modal-dialog modal-drawer-right" role="document">
                                {% csrf_token %}
                                <!-- .modal-content -->
                                <div class="modal-content">
                                    <!-- .modal-header -->
                                    <div class="modal-header">
                                        <h5 id="newDocumentLabel" class="modal-title"> Create a new compliance
                                            survey </h5>
                                    </div><!-- /.modal-header -->
                                    <!-- .modal-body -->
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                            {{ form.name }}
                                            <span>{{ form.name.errors }}</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ form.survey_type.id_for_label }}">{{ form.survey_type.label }}</label>
                                            {{ form.survey_type }}
                                            <span>{{ form.survey_type.errors }}</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ form.project.id_for_label }}">{{ form.project.label }}</label>
                                            {{ form.project }}
                                            <span>{{ form.project.errors }}</span>
                                        </div>
                                    </div><!-- /.modal-body -->
                                    <!-- .modal-footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div><!-- /.modal-footer -->
                                </div><!-- /.modal-content -->
                            </form><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        <!-- /Modal Drawer Right -->


                        <button type="button" class="btn btn-primary ml-1" data-toggle="modal"
                                data-target="#newQuestion">
                            <i class="oi oi-plus"></i>
                            <span class="ml-1">New Question</span>
                        </button>

                        <!-- Modal Drawer Right -->
                        <div class="modal modal-drawer fade" id="newQuestion" tabindex="-1" role="dialog"
                             aria-labelledby="newQuestionLabel" aria-hidden="true">
                            <!-- .modal-dialog -->
                            <form action="{% url 'survey_overview' survey.slug %}" method="post"
                                  class="modal-dialog modal-drawer-right" role="document">
                                {% csrf_token %}
                                <!-- .modal-content -->
                                <div class="modal-content">
                                    <!-- .modal-header -->
                                    <div class="modal-header">
                                        <h5 id="newQuestionLabel" class="modal-title"> Create a new survey
                                            question </h5>
                                    </div><!-- /.modal-header -->
                                    <!-- .modal-body -->
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="{{ question_form.question.id_for_label }}">{{ question_form.question.label }}</label>
                                            {{ question_form.question }}
                                            <span>{{ question_form.question.errors }}</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ question_form.question_type.id_for_label }}">{{ question_form.question_type.label }}</label>
                                            {{ question_form.question_type }}
                                            <span>{{ question_form.question_type.errors }}</span>
                                        </div>
                                    </div><!-- /.modal-body -->
                                    <!-- .modal-footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div><!-- /.modal-footer -->
                                </div><!-- /.modal-content -->
                            </form><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        <!-- /Modal Drawer Right -->

                    </div><!-- /.btn-toolbar -->
                </div><!-- /title and toolbar -->
            </header><!-- /.page-title-bar -->

            <!-- .page-section -->
            <div class="page-section">

                <!-- .card -->
                <div class="card card-fluid">

                    <!-- .card-body -->
                    <div class="card-body">

                        {% if survey_questions %}
                            <!-- .table-responsive -->
                            <div class="table-responsive">
                                <!-- .table -->
                                <table class="table">
                                    <!-- thead -->
                                    <thead>
                                    <tr>
                                        <th style="min-width:320px">Question</th>
                                        <th> Type</th>
                                        <th style="width:100px; min-width:100px;"> &nbsp;</th>
                                    </tr>
                                    </thead><!-- /thead -->
                                    <!-- tbody -->
                                    <tbody>

                                    {% for survey_question in survey_questions %}
                                        <!-- tr -->
                                        <tr>
                                            <td>
                                                <a href="#" class="tile tile-img mr-1" data-toggle="modal"
                                                   data-target="#viewSingleDoc{{ survey_question.slug }}">
                                                    <span class="img-fluid">{{ survey_question.question|first|capfirst }}</span>
                                                </a>
                                                <a href="#" data-toggle="modal"
                                                   data-target="#viewSingleDoc{{ survey_question.slug }}">{{ survey_question.question }}</a>
                                            </td>
                                            <td class="align-middle">
                                                {% if survey_question.question_type == '1' %}
                                                    Yes/No
                                                {% elif survey_question.question_type == '2' %}
                                                    Numerical
                                                {% else %}
                                                    Open Ended
                                                {% endif %}
                                            </td>
                                            <td class="align-middle text-right">
                                                <a href="" class="btn btn-sm btn-icon btn-secondary"><i
                                                        class="oi oi-eye"></i>
                                                    <span class="sr-only">View</span></a>

                                                <a href="{% url 'survey_question_delete' survey.slug survey_question.slug %}"
                                                   class="btn btn-sm btn-icon btn-secondary"><i
                                                        class="far fa-trash-alt"></i> <span
                                                        class="sr-only">Remove</span></a>
                                            </td>
                                        </tr><!-- /tr -->
                                    {% endfor %}

                                    </tbody><!-- /tbody -->
                                </table><!-- /.table -->
                            </div><!-- /.table-responsive -->
                        {% else %}
                            <!-- .empty-state -->
                            <div id="notfound-state" class="empty-state">
                                <!-- .empty-state-container -->
                                <div class="empty-state-container">
                                    <div class="state-figure">
                                        <img class="img-fluid" src="{% static 'assets/images/illustration/img-7.svg' %}"
                                             alt=""
                                             style="max-width: 300px">
                                    </div>
                                    <h3 class="state-header"> No Questions, Yet. </h3>
                                </div><!-- /.empty-state-container -->
                            </div><!-- /.empty-state -->
                        {% endif %}

                    </div><!-- /.card-body -->

                </div><!-- /.card -->

            </div><!-- /.page-section -->
        </div><!-- /.page-inner -->
    </div><!-- /.page -->

{% endblock %}


{% block js %}

{% endblock %}