{% extends 'engineering/project.html' %}

{% load static %}

{% block project_content %}


    <!-- .card -->
    <div class="card card-fluid">

        <div class="card-header d-flex">

            <h5>Fabrication</h5>

            <button id="client-expenses-tab" type="button" class="btn btn-primary ml-auto" data-toggle="modal"
                    data-target="#newDocument">Add task
            </button>

            <!-- Modal Drawer Right -->
            <div class="modal modal-drawer fade" id="newDocument" tabindex="-1" role="dialog"
                 aria-labelledby="newDocumentLabel" aria-hidden="true">
                <!-- .modal-dialog -->
                <form action="{% url 'project_fabrication' project.slug %}" method="post"
                      class="modal-dialog modal-drawer-right" role="document">
                    {% csrf_token %}
                    <!-- .modal-content -->
                    <div class="modal-content">
                        <!-- .modal-header -->
                        <div class="modal-header">
                            <h5 id="newDocumentLabel" class="modal-title"> Create a new task </h5>
                        </div><!-- /.modal-header -->
                        <!-- .modal-body -->
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                                {{ form.title }}
                                <span>{{ form.title.errors }}</span>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.team.id_for_label }}">{{ form.team.label }}</label>
                                {{ form.team }}
                                <span>{{ form.team.errors }}</span>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                                {{ form.description }}
                                <span>{{ form.description.errors }}</span>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.fabrication_status.id_for_label }}">{{ form.fabrication_status.label }}</label>
                                {{ form.fabrication_status }}
                                <span>{{ form.fabrication_status.errors }}</span>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.due_date.id_for_label }}">{{ form.due_date.label }}</label>
                                {{ form.due_date }}
                                <span>{{ form.due_date.errors }}</span>
                            </div>
                        </div><!-- /.modal-body -->
                        <!-- .modal-footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div><!-- /.modal-footer -->
                    </div><!-- /.modal-content -->
                </form><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!-- /Modal Drawer Right -->

        </div>

        <!-- .card-body -->
        <div class="card-body">

            {% if project_tasks %}
                <!-- .table-responsive -->
                <div class="table-responsive">
                    <!-- .table -->
                    <table class="table">
                        <!-- thead -->
                        <thead>
                        <tr>
                            <th style="min-width:320px">Title</th>
                            <th> Assigned To</th>
                            <th> Due On</th>
                            <th> Status</th>
                            <th style="width:100px; min-width:100px;"> &nbsp;</th>
                        </tr>
                        </thead><!-- /thead -->
                        <!-- tbody -->
                        <tbody>

                        {% for project_task in project_tasks %}
                            <!-- tr -->
                            <tr>
                                <td>
                                    <a href="#" class="tile tile-img mr-1" data-toggle="modal"
                                       data-target="#viewSingleDoc{{ project_task.slug }}">
                                        <span class="img-fluid">{{ project_task.title|first|capfirst }}</span>
                                    </a>
                                    <a href="#" data-toggle="modal"
                                       data-target="#viewSingleDoc{{ project_task.slug }}">{{ project_task.title }}</a>
                                </td>
                                <td class="align-middle">{{ project_task.team.first_name }} {{ project_task.team.last_name }}</td>
                                <td class="align-middle">{{ project_task.due_date }}</td>
                                <td class="align-middle">

                                    <span class="badge badge-{% if project_task.fabrication_status == 'Ongoing' %}info{% elif project_task.fabrication_status == 'Canceled' %}danger{% else %}success{% endif %}">{{ project_task.fabrication_status }}</span>

                                </td>
                                <td class="align-middle text-right">
                                    <button class="btn btn-sm btn-icon btn-secondary" data-toggle="modal"
                                            data-target="#viewSingleDoc{{ project_task.slug }}"><i
                                            class="oi oi-eye"></i>
                                        <span class="sr-only">View</span></button>

                                    <!-- Modal Drawer Left -->
                                    <div class="modal modal-drawer fade"
                                         id="viewSingleDoc{{ project_task.slug }}" tabindex="-1"
                                         role="dialog" aria-labelledby="viewSingleDocLabel" aria-hidden="true">
                                        <!-- .modal-dialog -->
                                        <div class="modal-dialog modal-drawer-right modal-lg" role="document">
                                            <!-- .modal-content -->
                                            <div class="modal-content">
                                                <!-- .modal-header -->
                                                <div class="modal-header">
                                                    <h5 id="viewSingleDocLabel" class="modal-title">
                                                        {{ project_task.title }} task details</h5>
                                                </div><!-- /.modal-header -->
                                                <!-- .modal-body -->
                                                <div class="modal-body">
                                                    <p class="text-left">{{ project_task.description }}</p>
                                                </div><!-- /.modal-body -->
                                                <!-- .modal-footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div><!-- /.modal-footer -->
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->

                                    <a href="{% url 'project_fabrication_status' project.slug project_task.slug 'delete' %}"
                                       class="btn btn-sm btn-icon btn-secondary"><i
                                            class="far fa-trash-alt"></i> <span
                                            class="sr-only">Remove</span></a>
                                </td>
                            </tr><!-- /tr -->
                        {% endfor %}

                        </tbody><!-- /tbody -->
                    </table><!-- /.table -->
                </div><!-- /.table-responsive -->
            {% else %}
                <!-- .empty-state -->
                <div id="notfound-state" class="empty-state">
                    <!-- .empty-state-container -->
                    <div class="empty-state-container">
                        <div class="state-figure">
                            <img class="img-fluid" src="{% static 'assets/images/illustration/img-7.svg' %}" alt=""
                                 style="max-width: 300px">
                        </div>
                        <h3 class="state-header"> No Tasks, Yet. </h3>
                    </div><!-- /.empty-state-container -->
                </div><!-- /.empty-state -->
            {% endif %}

        </div><!-- /.card-body -->

    </div><!-- /.card -->

{% endblock %}