{% extends 'index.html' %}
{% load static %}

{% block css %}

{% endblock %}


{% block content %}

    <!-- .page -->
    <div class="page">
        <!-- .page-inner -->
        <div class="page-inner">
            <!-- .page-title-bar -->
            <header class="page-title-bar">

                <!-- title and toolbar -->
                <div class="d-md-flex align-items-md-start">
                    <h1 class="page-title mr-sm-auto"> {{ user.name }} </h1><!-- .btn-toolbar -->
                    <div class="btn-toolbar">
                        <a href="{% url 'user_directory_delete' user.id 'delete' %}" type="button"
                           class="btn btn-danger">
                            <i class="oi oi-plus"></i>
                            <span class="ml-1">Delete</span>
                        </a>
                    </div><!-- /.btn-toolbar -->
                </div><!-- /title and toolbar -->
            </header><!-- /.page-title-bar -->

            <!-- .page-section -->
            <div class="page-section">

                <!-- .card -->
                <div class="card card-fluid">

                    <!-- .card-body -->
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6">
                                <!-- .modal-dialog -->
                                <form action="{% url 'user_view' user.id %}" method="post"
                                      class="" role="document">
                                    {% csrf_token %}
                                    <!-- .modal-content -->
                                    <div class="">
                                        <!-- .modal-header -->
                                        <div class="modal-header">
                                            <h5 id="newProjectLabel" class="modal-title"> Edit
                                                user </h5>
                                        </div><!-- /.modal-header -->
                                        <!-- .modal-body -->
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="{{ form.first_name.id_for_field }}">{{ form.first_name.label }}</label>
                                                        {{ form.first_name }}
                                                        <span>{{ form.first_name.errors }}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="{{ form.last_name.id_for_field }}">{{ form.last_name.label }}</label>
                                                        {{ form.last_name }}
                                                        <span>{{ form.last_name.errors }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="{{ form.userna.id_for_field }}">{{ form.username.label }}</label>
                                                {{ form.username }}
                                                <span>{{ form.username.errors }}</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="{{ form.email.id_for_field }}">{{ form.email.label }}</label>
                                                {{ form.email }}
                                                <span>{{ form.email.errors }}</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="{{ form.groups.id_for_field }}">{{ form.groups.label }}</label>
                                                {{ form.groups }}
                                                <span>{{ form.groups.errors }}</span>
                                            </div>
                                        </div><!-- /.modal-body -->
                                        <!-- .modal-footer -->
                                        <div class="modal-footer text-left">
                                            <button type="submit" class="btn btn-primary">Save changes
                                            </button>
                                        </div><!-- /.modal-footer -->
                                    </div><!-- /.modal-content -->
                                </form><!-- /.modal-dialog -->
                            </div>
                        </div>

                    </div><!-- /.card-body -->

                </div><!-- /.card -->

            </div><!-- /.page-section -->
        </div><!-- /.page-inner -->
    </div><!-- /.page -->

{% endblock %}


{% block js %}

{% endblock %}