{% extends 'index.html' %}
{% load static %}

{% block css %}

{% endblock %}


{% block content %}

    <!-- .page -->
    <div class="page">
        <!-- .page-inner -->
        <div class="page-inner">
            <!-- .page-title-bar -->
            <header class="page-title-bar">

                <!-- title and toolbar -->
                <div class="d-md-flex align-items-md-start">
                    <h1 class="page-title mr-sm-auto"> Users </h1><!-- .btn-toolbar -->
                    <div class="btn-toolbar">
                        <button type="button" class="btn btn-light d-none">
                            <i class="oi oi-data-transfer-download"></i>
                            <span class="ml-1">Export</span>
                        </button>
                        <button type="button" class="btn btn-light d-none">
                            <i class="oi oi-data-transfer-upload"></i>
                            <span class="ml-1">Import</span>
                        </button>
                    </div><!-- /.btn-toolbar -->
                </div><!-- /title and toolbar -->
            </header><!-- /.page-title-bar -->

            <!-- .page-section -->
            <div class="page-section">

                <!-- .card -->
                <div class="card card-fluid">

                    <!-- .card-header -->
                    <div class="card-header">
                        <!-- .nav-tabs -->
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#tab1">All</a>
                            </li>
                            <li class="nav-item d-none">
                                <a class="nav-link" data-toggle="tab" href="#tab2">Ongoing</a>
                            </li>
                            <li class="nav-item d-none">
                                <a class="nav-link" data-toggle="tab" href="#tab3">Completed</a>
                            </li>
                        </ul><!-- /.nav-tabs -->
                    </div><!-- /.card-header -->

                    <!-- .card-body -->
                    <div class="card-body">

                        <!-- .table-responsive -->
                        <div class="text-muted"> Showing {{ users.count }} entries</div>
                        <div class="table-responsive">
                            <!-- .table -->
                            <table class="table">
                                <!-- thead -->
                                <thead>
                                <tr>
                                    <th style="min-width:320px">Name</th>
                                    <th> Email</th>
                                    <th> Last login</th>
                                    <th style="width:100px; min-width:100px;"> &nbsp;</th>
                                </tr>
                                </thead><!-- /thead -->
                                <!-- tbody -->
                                <tbody>

                                {% if users %}
                                    {% for user in users %}
                                        <!-- tr -->
                                        <tr>
                                            <td>
                                                <a href="#" class="tile tile-img mr-1">
                                                    <span class="img-fluid">{{ user.first_name|first|capfirst }}</span>
                                                </a>
                                                <a href="#">{{ user.first_name }} {{ user.last_name }}</a>
                                            </td>
                                            <td class="align-middle"> {{ user.email }}</td>
                                            <td class="align-middle"> {{ user.last_login|timesince }}</td>
                                            <td class="align-middle text-right">
                                                <a href="#" class="btn btn-sm btn-icon btn-secondary"><i
                                                        class="fa fa-pencil-alt"></i> <span class="sr-only">Edit</span></a>
                                                <a
                                                        href="#" class="btn btn-sm btn-icon btn-secondary"><i
                                                        class="far fa-trash-alt"></i> <span
                                                        class="sr-only">Remove</span></a>
                                            </td>
                                        </tr><!-- /tr -->
                                    {% endfor %}
                                {% else %}

                                {% endif %}

                                </tbody><!-- /tbody -->
                            </table><!-- /.table -->
                        </div><!-- /.table-responsive -->

                    </div><!-- /.card-body -->

                </div><!-- /.card -->

            </div><!-- /.page-section -->
        </div><!-- /.page-inner -->
    </div><!-- /.page -->

{% endblock %}


{% block js %}

{% endblock %}